
<div class="inner-body-content">
    <div class="fat-header">{{ Title }}</div>
    <div>
        <div>Session ID: {{ sessionId | async }}</div>

        <a id="anchor"></a>

        <div>Token: {{ token | async }}</div>
    </div>
    <div class="pad-20" *ngIf="userProfile">
        <div>
            Hey there, you must be {{ userProfile.UserDisplayName }}. You are in the following Roles:
        </div>
        <ul>
            <li *ngFor="let role of userProfile.RoleNames">{{ role }}</li>
        </ul>
        <div>
            If you're an <span class="bold">Administrator</span>, you'll see a super-secret Administrator message below.
        </div>
        <div class="pad-20 margin-10 border" *ngIf="isAdministrator">
            HELLO SUPER-SECRET ADMIN
        </div>
        <div>
            If you're a <span class="bold">Monkey</span>, you'll see a super-secret Monkey message below.
        </div>
        <div class="pad-20 margin-10 border" *ngIf="isMonkey">
            HELLO SUPER-SECRET MONKEY
        </div>
    </div>
</div>

