.message-component {
    position: absolute; 
    bottom: 0px; 
    right: 10px;
}

.icon {
    color: rgba(255, 255, 255, 0.3);
    padding: 5px;
}

.message {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
    font-family: BebasNeue;
    padding: 5px;
}
