
<div class="inner-body-content">
    <div class="pad-40">
        <div class="fat-header">{{ Title }}</div>
        <div class="pad-20 font-2-00 Lato">
            We can't help you if you're going to start acting like a child and just throw up arbitrary URL's we don't have. So grow up and start behaving like an adult.
        </div>
        <div class="pad-20 font-1-60 Lato">
            Sheesh, you millenials.
        </div>
        <div class="pad-20 align-center">
            <i class="fa fa-cog fa-spin gray-3" style="font-size: 20em;"></i>
        </div>
        <div class="align-center gray-3 font-4-00 BebasNeue">
            404
        </div>
    </div>
</div>