<div class="align-right margin-right-10 margin-top-2">
    <button class="btn btn-primary btn-xs">Button</button>
</div>
<div class="inner-body-content">
    <div class="fat-header">{{ Title }}</div>
    <div>
        <ul class="items">
            <li *ngFor="let hero of heroes"
                [class.selected]="isSelected(hero)"
                (click)="onSelect(hero)">
                <span class="badge">{{ hero.Id }}</span><span class="item-text">{{ hero.Name }}</span>
            </li>
        </ul>
    </div>
</div>