<div class="align-right margin-right-10 margin-top-5">
    <button class="btn btn-default btn-sm" (click)="listRfcsClick()">Back</button>
</div>
<div class="inner-body-content">
    <div class="fat-header">Edit RFC</div>

    <div class="opacity-10">
        <ul>
            <li>Edit an existing RFC.</li>
            <li>Each Release is composed of multiple selected RFC's.</li>
            <li>This is where you would deine a singular RFC for an expected release. It would be based off a copied Template.</li>
            <li>Not sure of the workflow here. For example, perhaps someone like Noor go in, select a Template, which would copy the Template into the RFC. She would then ask a developer to approve and/or modify the selected template.</li>
        </ul>
    </div>
</div>