<div class="align-right margin-right-10 margin-top-2">
    <button class="btn btn-primary btn-sm" (click)="addRfcClick()">Add New RFC</button>
</div>
<div class="inner-body-content">
    <div class="fat-header">RFC's</div>
    <div class="row">
        <div class="col-md-6">
            <div class="pad-10 border-right-a-10">
                <div>
                    <table class="fixed-font pointer width-100">
                        <tr>
                            <th class="pad-5 border-bottom-a-10 nowrap">RFC #</th>
                            <th class="pad-5 border-bottom-a-10 width-100">Name</th>
                            <th class="pad-5 border-bottom-a-10"></th>
                            <th class="pad-5 border-bottom-a-10"></th>
                        </tr>
                        <tr>
                            <td class="pad-5">10363</td>
                            <td class="pad-5">Install Chef (Phase 2)</td>
                            <td class="pad-5"><button class="btn btn-xs btn-default">delete</button></td>
                            <td class="pad-5"><button class="btn btn-xs btn-info" (click)="editRfcClick()">edit</button></td>
                        </tr>
                        <tr>
                            <td class="pad-5 gray-4-bg">10391</td>
                            <td class="pad-5 gray-4-bg nowrap">CMA, ETL</td>
                            <td class="pad-5 gray-4-bg"><button class="btn btn-xs btn-default">delete</button></td>
                            <td class="pad-5 gray-4-bg"><button class="btn btn-xs btn-info">edit</button></td>
                        </tr>
                        <tr>
                            <td class="pad-5">10498</td>
                            <td class="pad-5 nowrap">USAA</td>
                            <td class="pad-5"><button class="btn btn-xs btn-default">delete</button></td>
                            <td class="pad-5"><button class="btn btn-xs btn-info">edit</button></td>
                        </tr>
                        <tr>
                            <td class="pad-5 gray-4-bg">10436</td>
                            <td class="pad-5 gray-4-bg nowrap">Filenet</td>
                            <td class="pad-5 gray-4-bg"><button class="btn btn-xs btn-default">delete</button></td>
                            <td class="pad-5 gray-4-bg"><button class="btn btn-xs btn-info">edit</button></td>
                        </tr>
                        <tr>
                            <td class="pad-5">10406</td>
                            <td class="pad-5 nowrap">NationstarMtg</td>
                            <td class="pad-5"><button class="btn btn-xs btn-default">delete</button></td>
                            <td class="pad-5"><button class="btn btn-xs btn-info">edit</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>

    <div class="opacity-10">
        <ul>
            <li>List and Define RFC's.</li>
            <li>Each Release is composed of multiple selected RFC's.</li>
            <li>This is where you would deine a singular RFC for an expected release. It would be based off a copied Template.</li>
            <li>Not sure of the workflow here. For example, perhaps someone like Noor go in, select a Template, which would copy the Template into the RFC. She would then ask a developer to approve and/or modify the selected template.</li>
        </ul>
    </div>
</div>