
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">MRC</a>
        </div>
        <div class="navbar-collapse collapse">

            <div class="float-right">
                <span *ngIf="authenticatedUser"><i class="fa fa-info-circle gray-5 font-1-40" style="margin-top: 16px;"></i> <span class="BebasNeue font-1-40 opacity-60 pad-left-5">{{ authenticatedUser.UserDisplayName }}</span></span><is-working-runner></is-working-runner>
            </div>

            <ul class="nav navbar-nav">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLinkActive="active" routerLink="/release">Release</a></li>
                <li><a routerLinkActive="active" routerLink="/rfcs">RFC's</a></li>
                <li><a routerLinkActive="active" routerLink="/runbooks">Runbooks</a></li>
                <li><a routerLinkActive="active" routerLink="/templatelist">Templates</a></li>
                <li><a routerLinkActive="active" routerLink="/builds">Builds</a></li>
                <li><a routerLinkActive="active" routerLink="/links">Applications</a></li>
                <li><a routerLinkActive="active" routerLink="/admin">Admin</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grids<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLinkActive="active" routerLink="/ngtable">NG-Table</a></li>
                        <li><a routerLinkActive="active" routerLink="/mrctable">MRC-Table</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prime<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLinkActive="active" routerLink="/datatabledemo">DataTable</a></li>
                    </ul>
                </li>


                <li class="dropdown hidden">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heroes<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLinkActive="active" routerLink="/crisis-center">Crisis Center</a></li>
                        <li><a routerLinkActive="active" routerLink="/heroes">Heroes</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <div [hidden]="isAppInitialized" class="app-authenticating-box">
        <div class="BebasNeue font-2-00 white opacity-50">
            <div>
                <img src="../../app/content/images/Mega-Runbook-Creator-Button-01.png" alt="mega-runbook-creator" />
            </div>
            <div class="app-authenticating bounceInLeft animated">authenticating</div>
            <img src="app/content/images/running.gif" class="opacity-50"/>
            <img src="app/content/images/spiro.svg" class="spriro-02" />
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<div class="footer pointer" style="position: fixed; bottom: 0px;" [ngClass]="{ 'working-footer': isWorking }" (click)="onFooterClicked()">
    <message></message>
    <is-working></is-working>&nbsp;
</div>

