
<div class="inner-body-content">

    <div class="fat-header">
        Applications
    </div>

    <!-- SEARCH -->
    <div class="row">
        <div class="col-md-4">
            <form class="mrc-forms">
                <div class="table">
                    <div class="tr">
                        <div class="td">
                            <input type="text" name="searchCriteria" placeholder="search..." class="width-100" [(ngModel)]="searchCriteria" (ngModelChange)="onSearch($event)" />
                        </div>
                        <div class="td">
                            <div class="pad-5 align-right align-middle">
                                Group:
                            </div>
                        </div>
                        <div class="td">
                            <select name="groups" class="width-100">
                                <option></option>
                                <option>Encompass Web</option>
                                <option>Greenlight Web</option>
                                <option>Encompass Jobs</option>
                                <option>Scheduled Tasks</option>
                                <option>Originations Miscellaneous</option>
                                <option>Service Bus Messaging</option>
                                <option>WCF</option>
                            </select>
                        </div>
                        <div class="td">
                            <div class="pad-5 align-right align-middle">
                                Type:
                            </div>
                        </div>
                        <div class="td">
                            <select name="app_types" class="width-100">
                                <option></option>
                                <option>Service Bus</option>
                                <option>Scheduled Task</option>
                                <option>WCF Service</option>
                                <option>Website</option>
                                <option>Unknown</option>
                            </select>
                        </div>
                        <div class="td">
                            <div>
                                <button class="btn btn-sm btn-primary" (click)="onClearSearchCriteria()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- LIST -->
    <div *ngIf="pagedApplicationLink" class="row">
        <div class="col-md-4">
            <div class="fat-header">
                Application
            </div>
            <div class="link-table">
                <div class="link-tr" *ngFor="let appLink of pagedApplicationLink.Items;" (click)="onApplicationLinkSelected(appLink)" [class.selected]="appLink.IsSelected">
                    <div class="link-td">
                        {{ appLink.Name }}
                    </div>
                    <div class="link-td">
                        {{ appLink.ApplicationType.Description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-top">
            <div class="fat-header">
                Sites / Services
            </div>
            <div *ngIf="applicationLink">
                <div class="row">
                    <div class="link-table">
                        <div class="link-tr" *ngFor="let serviceLink of applicationLink.ServiceLinks" [class.selected]="serviceLink.IsSelected">
                            <div class="link-td" (click)="onServiceLinkSelected(serviceLink)">
                                {{ serviceLink.ServiceName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="fat-header">
                Environments
            </div>
            <div *ngIf="serviceLink">
                <div class="link-table">
                    <div class="link-tr" *ngFor="let environmentLink of serviceLink.EnvironmentLinks" (click)="onEnvironmentSelected(environmentLink)" [class.selected]="environmentLink.IsSelected">
                        <div class="link-td align-right border-right-a-20" style="width: 15%;">
                            {{ environmentLink.Server.Environment.Name }}
                        </div>
                        <div class="link-td">
                            <a [href]="environmentLink.Url" [title]="environmentLink.Url" target="_blank" class="static-link"><i class="fa fa-external-link"></i></a> {{ environmentLink.Server.Name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SELECTED -->
    <div *ngIf="environmentLink">
        <div class="selected-link">
            <div class="close-selected-link" (click)="onSelectedEnvironmentLinkClosed()">
                <i class="fa fa-times-circle font-2-00 white opacity-50"></i>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <table class="width-100">
                            <tr>
                                <td class="BebasNeue align-center align-middle white-a-5 pad-right-10 border-dotted-right-a-50" style="width: 10%;">
                                    <div *ngIf="environmentLink" class="font-4-00">
                                        {{ environmentLink.Server.Environment.Name }}
                                    </div>
                                    <div class="pad-5 margin-bottom-5 border-a-10 white-a-1-bg font-2-00">
                                        {{ environmentLink.Server.Name }}
                                    </div>
                                    <div class="pad-5 align-center Lato">
                                        {{ applicationLink.ApplicationGroup.Name }}
                                    </div>
                                </td>
                                <td class="align-left align-middle fixed-font">
                                    <ul *ngIf="environmentLink">
                                        <li class="font-1-80">
                                            <span class="opacity-50">{{ applicationLink.ApplicationType.Description }}</span> : {{ applicationLink.Name }} &gt; {{ serviceLink.ServiceName }}
                                        </li>
                                        <li class="pad-top-10" style="list-style: none;">
                                            <ul>
                                                <li class="pad-top-10" [ngIIclipboard]="environmentLink_Url" (cbOnSuccess)="onCopiedToClipboard('URL')">
                                                    <i class="fa fa-clone pointer" title="copy"></i> <a [href]="environmentLink.Url" target="_blank" class="expand-o-line">{{ environmentLink.Url }}</a>
                                                </li>
                                                <li class="pad-top-10 pointer" [ngIIclipboard]="environmentLink_FolderPath" (cbOnSuccess)="onCopiedToClipboard('path')">
                                                    <i class="fa fa-clone" title="copy"></i> {{ environmentLink.FolderPath }}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- NOTES -->
                    <div class="margin-top-5">
                        <div class="align-left pad-5 border-a-50 white-a-1-bg">
                            <i class="fa fa-chevron-down"></i><span class="pad-left-10">Notes</span>
                        </div>
                        <div class="pad-10 fixed-font align-left">
                            Some notes about this service.
                        </div>
                    </div>

                    <!-- 'HIDDEN' COPY FIELDS -->
                    <div style="position: absolute; right: -1000px;">
                        <input type="text" [(ngModel)]="environmentLink.Url" #environmentLink_Url class="hidden_input">
                        <input type="text" [(ngModel)]="environmentLink.FolderPath" #environmentLink_FolderPath class="hidden_input">
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>