<div class="pad-20 white">
    <div class="home-brand-button-block">
        <a routerLink="/templates"><img src="../app/content/images/Mega-Runbook-Creator-Button-04.png" style="cursor: pointer;" title="Runbooks" /></a>
        <div class="home-date-block">
            <div>{{ today | date:'fullDate' }} {{ today | date:'h:m:s a' }}</div>
            <div *ngIf="userProfile" class="opacity-50">{{ userProfile.UserDisplayName }}</div>
            <div><i class="fa fa-cog font-1-20 white opacity-10 margin-top-10"></i></div>
        </div>
    </div>
</div>
