<div class="pad-20 white">
    <div class="home-brand-button-block">
        <a routerLink="/templatelist">
            <img src="../app/content/images/Mega-Runbook-Creator-Button-04.png" style="cursor: pointer;" title="Runbooks" />
            <div class="home-date-block" style="margin-bottom: 1000px;">
                <div>{{ today | date:'fullDate' }}</div>
                <div *ngIf="userProfile" class="opacity-50">{{ userProfile.UserDisplayName }}</div>
                <div>
                    <i class="fa fa-cog font-1-20 white opacity-10 margin-top-10 hidden"></i>
                </div>
                <img src="../app/content/images/spiro.svg" class="spriro-02" />
            </div>
        </a>
    </div>
</div>
