<div class="picker-wrapper">
    <div class="time-toggle" (click)="toggleIsCollapsed()" (mouseenter)="messageMouseEnter()" (mouseleave)="messageMouseLeave()" [ngStyle]="{ 'opacity': messageOpacity }">
        <i class="fa" 
           [class.fa-chevron-down]="!isCollapsed"
           [class.fa-chevron-up]="isCollapsed"
           [class.time-toggle-icon-down]="!isCollapsed" 
           [class.time-toggle-icon-up]="isCollapsed"></i> <span class="time-toggle-message">select duration</span>
    </div>
    <div class="time-wrapper" [hidden]="isCollapsed">
        <table>
            <tr>
                <td *ngFor="let duration of primaryDurations" class="time primary-time" (click)="onDurationSelected(duration)">{{ duration.DurationText }}</td>
            </tr>
            <tr>
                <td *ngFor="let duration of secondaryDurations" class="time secondary-time" (click)="onDurationSelected(duration)">{{ duration.DurationText }}</td>
            </tr>
        </table>
    </div>
</div>
