<div class="align-right margin-right-10 margin-top-2">
    <button class="btn btn-primary btn-sm">Add Template</button>
</div>
<div class="inner-body-content">
    <div class="fat-header">Templates</div>
    <div class="row">
        <div class="col-md-3">
            <div class="table">
                <div class="tr">
                    <div class="td">
                        <input type="text" class="search" placeholder="Search Template Name..." style="width: 400px;" [(ngModel)]="searchTemplateName" (ngModelChange)="searchTemplateNameChanged($event)"/>
                    </div>
                    <div class="td">
                        <button class="btn btn-default" (click)="clearSearchTemplateClicked()">clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <ul class="template-list">
                <li *ngFor="let template of searchResults; let i = index" (click)="runbookTemplateClicked(template)">
                    <i class="fa fa-cog margin-right-5 opacity-50"></i> {{ template.Name }}
                </li>
            </ul>
        </div>
    </div>
</div>