<div class="top-fixed-menu-buttons">
    <button class="btn btn-primary btn-sm">Add Runbook Step</button>
    <button class="btn btn-info btn-sm" title="reload" (click)="reloadTemplate()"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-success btn-sm" (click)="toggleCollapseAll()" [title]="isNotCollapsed ? 'collapse all' : 'expand all'"><i class="fa" [class.fa-chevron-down]="isNotCollapsed" [class.fa-chevron-up]="!isNotCollapsed"></i></button>
</div>

<div class="inner-body-content">

    <!-- HEADER -->
    <div class="thin-header pad-top-40">
        <div *ngIf="runbookTemplate">{{ runbookTemplate.Name }}</div>
    </div>

    <div class="table bordered" *ngIf="runbookTemplate">
        <div class="thead">
            <div class="th align-center"><i class="fa fa-check-circle"></i></div>
            <div class="th">&nbsp;</div>
            <div class="th align-right">Group</div>
            <div class="th align-right">Step</div>
            <div class="th">Team</div>
            <div class="th">Description</div>
            <div class="th">Developer</div>
            <div class="th">PBIs</div>
            <div class="th">Notes</div>
        </div>
        <div class="tr" *ngFor="let step of runbookTemplate.RunbookSteps; let i = index">
            <div style="width: 2%;" class="td align-center">
                <div class="pad-top-5">
                    <input type="checkbox"/>
                </div>
            </div>
            <div style="width: 2%;" class="td align-right">
                <div class="pad-top-5">
                    <button class="btn btn-default btn-xs" (click)="toggleCollapse(step)" title="Collapse All"><i class="fa" [class.fa-chevron-down]="step.IsNotCollapsed" [class.fa-chevron-up]="!step.IsNotCollapsed"></i></button>
                </div>
            </div>
            <div style="width: 3%;" class="td align-right">
                <div class="pad-top-5">{{ step.GroupNumber }}</div>
            </div>
            <div style="width: 3%;" class="td align-right">
                <div class="pad-top-5">{{ step.StepNumber }}</div>
            </div>
            <div style="width: 5%;" class="td">
                <div class="pad-top-5" *ngIf="!step.IsNotCollapsed">
                    <div>{{ step.Teams ? step.Teams[0].Name : '' }}</div>
                </div>
                <div class="pad-top-5" *ngIf="step.IsNotCollapsed">
                    <div *ngFor="let team of step.Teams">{{ team.Name }}</div>
                </div>
            </div>
            <div style="width: 23%;" class="td">
                <div class="pad-top-5">
                    <div *ngIf="!step.IsNotCollapsed">{{ step.Name }}</div>
                </div>
                <div>
                    <code *ngIf="step.IsNotCollapsed">{{ step.Description }}</code>
                </div>
            </div>
            <div style="width: 5%;" class="td nowrap">
                <div class="pad-top-5" *ngIf="!step.IsNotCollapsed">
                    <div>{{ step.Developers ? step.Developers[0].DisplayName : '' }}</div>
                </div>
                <div class="pad-top-5" *ngIf="step.IsNotCollapsed">
                    <div *ngFor="let contact of step.Developers">{{ contact.DisplayName }}</div>
                </div>
            </div>
            <div style="width: 3%;" class="td">
                <div class="pad-top-5" *ngIf="!step.IsNotCollapsed">
                    <div>{{ step.RunbookStepPbis ? step.RunbookStepPbis[0].PbiNumber : '' }}</div>
                </div>
                <div class="pad-top-5" *ngIf="step.IsNotCollapsed">
                    <div *ngFor="let pbi of step.RunbookStepPbis">{{ pbi.PbiNumber }}</div>
                </div>
            </div>
            <div style="width: 23%;" class="td">
                <div class="pad-top-5">
                    <code *ngIf="step.IsNotCollapsed">{{ step.Notes }}</code>
                </div>
            </div>
        </div>
    </div>

    <!-- BOTTOM ADD STEP ICON -->
    <div>
        <button class="btn btn-xs btn-primary" title="Add Runbook Step"><i class="fa fa-plus"></i></button>
    </div>
</div>

